<div class="center hero-unit">
  <h1>UConn's Husky Exchange Market!</h1>

  <h2>
    Purchase/sell your items today!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<h3>Recently Posted Items:</h3>
<div class="items-stack">
	<div class="item">
		<a href="">iPod Touch</a>
		<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
	</div>
	<div class="item">
		<a href="">iPod Touch</a>
		<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
	</div>
	<div class="item">
		<a href="">iPod Touch</a>
		<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
	</div>
	<div class="item">
		<a href="">iPod Touch</a>
		<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
	</div>
	<div class="item">
		<a href="">iPod Touch</a>
		<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
	</div>
	<div class="item">
		<a href="">iPod Touch</a>
		<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
	</div>
	<div class="item">
		<a href="">iPod Touch</a>
		<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
	</div>
	<div class="item">
		<a href="">iPod Touch</a>
		<p>Selling a used ipod touch with the headphones. Still in perfect condition!</p>
	</div>
</div>