@import "bootstrap";

/* Overwrite bootstrap css */

.navbar{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EAEAEA;
}

.navbar-inner{
  width: 940px;
  margin: auto;
  background: none;
  border: none;
  box-shadow: none;
}

.navbar .nav li a{
  text-shadow: none;
}

.navbar .nav li a:hover{
  color: #787DB9;
  text-decoration: underline;
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
  border-top-color: black;
  border-bottom-color: black;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body{
  font-family: Palatino,Georgia, Times, Arial,Helvetica,sans-serif;
  background-color: #E7E7E7;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #25AAE1;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #787DB9;
  text-decoration: none;
}

.categories{
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  margin-bottom: 10px;
}

.categories ul{
  margin: 0;
}

.categories ul li{
  display: inline;
  padding-right: 65px;
}

.categories ul li:last-child{
  padding-right: 0px;
}

/* footer */

footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  clear: both;
}

footer .footer-inner{
  width: 940px;
  margin: auto;
}

footer a {
  color: #999;
}  

footer a:hover { 
  color: #787DB9;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* homepage */
 
 .banner{
  background-image: url(/assets/uconn-pic.jpg);
  background-repeat:no-repeat;
  background-size:100% 100%;
  opacity: 0.8;
 }

 .banner h1, .banner h2{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 .products{
  border: 1px solid black;
  width: 269px;
  float: left;
  height: 200px;
  margin: 2px;
  overflow:hidden;
  .user{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 269px;
    display: inline-block;
    border-bottom: 1px solid black;
    background-color: #D7DFE3;
  }
  .description{
    height: 142px;
    overflow-y: auto;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre;
  }
  .info{
    background-color: #D7DFE3;
    float: left;
    width: 269px;
    border-top: 1px solid black;
    .price{
      float: left;
      color: red;
    }
    .timestamp{
      float: right;
    }
  }
 }

  .user-product{
    margin-right: 14px;
  }