<li>
  <span class="content"><%= product.name %></span>
  <div class="content"><%= product.description %></div>
  <div class="content"><%= product.price %></div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(product.created_at) %> ago.
  </span>
</li>